.solve-btn { display: block; margin: 30px auto auto; color: #2273ff; background-color: #a1c4ff; padding: 10px 25px; border-radius: 50px; position: relative; transition: .2s ease-in; outline: none; }
@media screen and (min-width:768px) {
  .solve-btn:hover { color: #ffffff; background-color: #2273ff; }
}
.solve-btn::before { content: ""; width: 0; height: 1px; background-color: #2273ff; position: absolute; left: 0; right: 0; margin: auto; bottom: 0; transition: .2s ease-out .15s; }
@media screen and (min-width:768px) {
.solve-btn:hover::before { width: 60%; }
}
.solve-btn:active { background-color: #4ade45; }
.solve-btn:active::before { background-color: transparent; }

.grid-container { width: calc(3em * 9); margin: 40px auto 30px; display: flex; flex-wrap: wrap;}
.grid-child { width: 9em; }
input[type="number"] { padding-left: 12px; width: 3em; height: 3em; border: 1px solid #000; text-align: center; }

.grid-grandchild[grid-square=0] { background-color: #eee; }

@media screen and (max-width:320px) {
  .grid-container { font-size: 3.5vw;}
  input[type="number"] { padding-left: 0; }
}